.background
{
    background-color: black;
    border-color: white;
}

.labe
{
    background-color: black;
    color: white;
    border-color: white;
    text-align: center;
}

.buttonG
{
    color: black;
    background-color: #d6fec3;
    text-align: center;
}

.field
{
    background-color: #fbf3e3;
    color: black;
    text-align: center;
}

.buttonA
{
    text-align: center;
    background-color: #BB4430;
    color: white;
}